{% extends "myaccount/base.html" %}
{%load static%}
{% block title %}
    Twitter data extractor: Form submission
{% endblock %}
{% block content %}

    <div class="card-header text-center"><span class="splash-description"></span></div>
    <div class="card-body">
  <p>
      Your payment is successfully completed.
  Please submit the form again to start new data extraction
 <p>Thank you</p>
  </p>

    </div>
      <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">

                    <a href="{%url 'scraper:dashboard'%}" class="footer-link">Go back to dashboard</a>
                </div>


      </div>
{% endblock %}