{% extends "myaccount/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Twitter data extractor: Password reset
{% endblock %}
{% block content %}

    <div class="card-header text-center"><span class="splash-description"></span></div>
    <div class="card-body">
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>

    </div>
    <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="{%url 'myaccount:login'%}" class="footer-link">Login</a></div>

            </div>
{% endblock %}