{% extends "myaccount/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Twitter data extractor: Password reset form
{% endblock %}
{% block content %}

    <div class="card-header text-center"><span class="splash-description">Please enter your user information.</span></div>
    <div class="card-body">
     <form method="post" >
                <p>Don't worry, we'll send you an email to reset your password.</p>
                {% csrf_token %}

                <div class="form-group">
                    {% render_field form.email|append_attr:"class:form-control form-control-lg"  type="email" required="" placeholder="Your Email" autocomplete="off"%}
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
     </form>

    </div>
    <div class="card-footer text-center">
        <span>Don't have an account? <a href="{% url 'myaccount:signup' %}">Sign Up</a></span>
    </div>
{% endblock %}