{% extends "myaccount/base.html" %}
{%load static%}
{% load widget_tweaks %}
{% block title %}
    Twitter data extractor: Password reset confirm
{% endblock %}
{% block content %}
<div class="card-header text-center"><span class="splash-description">Please enter your user information.</span></div>
    <div class="card-body">

    {% if validlink %}
        <form method="post" >
            <h3>Change password</h3>
            {% csrf_token %}

            <div class="form-group">
                {% render_field form.new_password1|append_attr:"class:form-control form-control-lg"  type="password" autocomplete="off"%}
            </div>
            <div class="form-group">
                {% render_field form.new_password2|append_attr:"class:form-control form-control-lg"  type="password" autocomplete="off"%}
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Change password</button>
        </form>
    {% else %}
            <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.

            </p>
    {% endif %}

    </div>

<div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="{%url 'myaccount:login'%}" class="footer-link">Login</a></div>
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="{% url 'myaccount:password_reset' %}" class="footer-link">Forgot Password</a>
                </div>
            </div>

{% endblock %}
